In [ ]:
# This is a quick-start file for the assignment. Feel free to erase cells you don't need.

In [4]:
# Your environment is probably missing some packages. We will check and, if necessary, install.
# https://pypi.org/project/yfinance
import pip
from pip._internal.utils.misc import get_installed_distributions
pkgs = ''.join(str(get_installed_distributions(local_only=True)))
if "yfinance" not in pkgs:
    !pip install yfinance
if "lxml" not in pkgs:
    !pip install lxml

In [3]:
# Now we can import yfinance
import yfinance as yf
import pandas as pd
from pathlib import Path

In [2]:
# Let's define some useful constants
START = "2019-01-01"
END   = "2020-11-13"

company_name = 'AAPL'

TICKERS = [company_name]

DATAFILE_NAME = "data.pickle1" + company_name

In [5]:
# It's practical to download data from Yahoo!Finance just once and keep a local copy
if Path(DATAFILE_NAME).is_file(): # check if we got the datafile already
    data = pd.read_pickle(DATAFILE_NAME) # read it
else:
    data = yf.download(tickers=TICKERS, start=START, end=END, auto_adjust=True)
    data.to_pickle(DATAFILE_NAME) # save localy

In [6]:
data.reset_index()
data.head()

                 Open       High        Low      Close     Volume
Date
2018-12-31  38.397145  38.598178  37.900619  38.205803  140014000
2019-01-02  37.515513  38.474656  37.355655  38.249401  148158800
2019-01-03  34.873026  35.294468  34.393456  34.439476  365248800
2019-01-04  35.006239  35.979914  34.829429  35.909672  234428400
2019-01-07  36.016247  36.047735  35.338065  35.829746  219111200

In [7]:
# Lowest stock rate

data['Low'].min()

34.393456008887206

In [8]:
# Percentage growth of minimum opening price to highest closing price

data_OpenMin = data[data["Open"]==data["Open"].min()]
data_CloseMax = data[data["Close"]==data["Close"].max()]

mini = float(data_OpenMin['Open'])
maxim = float(data_CloseMax['Close'])
total = (maxim - mini) / mini * 100

print(total)

284.1046070184757

In [9]:
## Percentage growth of 2020-01-02

growth_subtract = data.loc['2020-01-02']['Close'] - data.loc['2020-01-02']['Open']

total = growth_subtract / data.loc['2020-01-02']['Open'] * 100

print(float("{0:.2f}".format(total)))

1.39

In [21]:
## COVID19 DROP IN PERCENTS
covid_start_price = data.loc['2020-03-04']['Close']
print(f'Covid start: {covid_start_price}')
covid_lowest_end_price = data.loc['2020-03-23']['Close']
print(f'Covid lowest end: {covid_lowest_end_price}')


covid_total_drop = (covid_start_price - covid_lowest_end_price) / covid_start_price * 100

print('Covid total drop in percents')
print(float("{0:.2f}".format(covid_total_drop)))

Covid start: 74.60424041748047
Covid lowest end: 55.29151916503906
Covid total drop in percents
25.89